<div [routerLink]="['/colllection', id]" class="featured_collection_wrapper">
    <div class="featured_collection_content">
        <div class="featured_collection_details">
            <span class="featured_collection_name">{{t.themeName}}</span>
            <p class="featured_collection_description">
                "Assamese literature had been incredibly fortunate to constant patronage and backing of the ruling kings and dynasties of the erstwhile Assam state.
                <br>Each reigning sovereign were forever eager to take interest in literature in every kind, beginning from prose and perhaps ending in other forms of writing.
                <br>The excavated evidences of such etchings still bear gloriousness to modern Assamese literature."
            </p>
        </div>
        <div><img [src]="t.imageUrl" class="featured_collection_image"></div>
    </div>
</div>