<div class="header">
    <div class="act_logo_div">
        <a href="https://www.newindiafoundation.org/" target="_blank">
            <img class="act_logo" src=".\assets\images\New-India-Foundation.gif">
        </a>
    
        <a href="https://translation.ashoka.edu.in/" target="_blank" style="padding-left: 15px;">
            <img class="act_logo" src=".\assets\images\act_logo.png">
        </a>
    </div>
    <div class="page_title_div">
        <div class="mobile page_title" (click)="showMobileMenu = true">
            &#8226;&#8226;&#8226;
        </div>
    </div>
</div>

<div *ngIf="showMobileMenu" class="mobile_menu">
    <div class="page_title_div" style="width:100%;">
        <div class="page_title" style="margin-top: 60px; margin-right: 58px; margin-left: auto;"
            (click)="showMobileMenu = false">
            &#10006;
        </div>
    </div>
    <div style="display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    transform: translateY(-10%);
    margin-top: 10%;
    margin-left: 20px;" (click)="showMobileMenu = false">
        <a href="#contact">
            <span class="page_title" style="padding: 5px;">
                Contact
            </span>
        </a>
        <span class="page_title" style="padding: 5px;" routerLink="/about">
            About
        </span>
        <!-- <span class="page_title" style="padding: 5px;" routerLink="/collections">
            Collections
        </span> -->
        <span class="page_title" style="padding: 5px;" routerLink="/">
            Home
        </span>
        <a href="https://translation.ashoka.edu.in/" target="_blank">
            <span class="page_title" style="padding: 5px;">
                Ashoka Centre for Translation
            </span>
        </a>
    </div>

</div>