.main_art {
    width: 100%;
}

.project_author_intro {
    position: relative;
    color: white;
    font-family: 'EB Garamond';
    font-size: 1.5rem;
}

.project_name_text {
    font-size: 2.5rem;
    margin-top: 0px;
}

.author_intro_button {
    border: solid 2px white;
    border-radius: 5px;
    padding: 10px 40px;
    width: fit-content;
    margin-top: 20px;
    cursor: pointer;
}

.bibliography_header {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: rgb(108, 123, 87);
    margin: 20px 0px;
}

.bibliography_header_text {
    padding: 50px;
    font-size: 45px;
    color: white;
    font-family: 'EB Garamond';
    display: flex;
    text-align: center;
}

.page_title {
    color: white;
    font-size: 1.5rem;
    font-family: serif;
    cursor: pointer;
    margin-left: 25px;
    display: flex;
    text-align: center;
    opacity: 1;
}

.page_title:hover {
    text-decoration: underline;
}

.page_title:active {
    text-decoration: underline;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .project_author_intro_text {
        position: relative;
        opacity: 0.8;
        background-color: rgb(105, 67, 23);
        padding: 20px;
        margin: 20px 0px;
        display: flex;
        flex-direction: column;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .project_author_intro_text {
        position: relative;
        opacity: 0.8;
        background-color: rgb(105, 67, 23);
        padding: 20px;
        margin: 20px 0px;
        display: flex;
        flex-direction: column;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .project_author_intro_text {
        opacity: 0.8;
        background-color: rgb(105, 67, 23);
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 30%;
        width: 40vw;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}