.susham_bedi_art {
    width: 100%;
}

.project_author_intro {
    position: relative;
    color: white;
    font-family: 'EB Garamond';
    font-size: 24px;
}

.project_author_intro_text {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 30%;
    width: 40vw;
}

.author_intro_button {
    border: solid 1px white;
    border-radius: 5px;
    padding: 5px;
    width: fit-content;
    margin-top: 20px;
    cursor: pointer;
}

.bibliography_header {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: rgb(108, 123, 87);
    margin: 20px 0px;
}

.bibliography_header_text {
    padding: 20px;
    font-size: 45px;
    color: white;
    font-family: 'EB Garamond';
}

.bibliography_parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(220, 224, 215);
    padding-top: 20px;
}

.translation_card {
    display: flex;
    flex-direction: column;
    padding: 25px;
    border: transparent;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.translation_card:hover {
    box-shadow: 4px 4px rgb(203, 207, 199);
}

.translation_card_row {
    display: flex;
    flex-direction: row;
}

.sno_column {
    width: 2vw;
    padding: 2px;
    color: rgb(108, 123, 87);
}

.content_column {
    display: flex;
    flex-direction: row;
}

.content_column_header {
    font-weight: 700;
    width: 20vw;
    padding: 2px 16px;
}

.content_column_value {
    width: 20vw;
    padding: 2px 16px;
}

.translation-pagination ::ng-deep .ngx-pagination .current {
    background: rgb(108, 123, 87);
}

.searchbar {
    background-color: white;
    width: 80vw;
    max-width: 800px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.searchinput {
    all: unset;
    font: 16px system-ui;
    color: rgb(108, 123, 87);
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}

::placeholder {
    color: rgb(203, 207, 199);
    opacity: 0.7;
}

.searchbutton {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .translation_card_row {
        display: flex;
        flex-direction: column;
    }

    .sno_column {
        width: 80vw;
        padding: 2px;
    }

    .content_column {
        display: flex;
        flex-direction: row;
    }

    .content_column_header {
        width: 32vw;
    }

    .content_column_value {
        width: 32vw;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}