<div class="project_author_intro">
    <img class="main_art" src=".\assets\images\susham_bedi_art.jpg">
    <div class="project_author_intro_text">
        <h1 class="project_name_text">Found in <em>Translation</em> Portal</h1>
        <p>
            Through this project, we aim to document the compelling words of authors from as many languauges as possible;
        especially languages from India.
        </p>
        <div class="author_intro_button" routerLink="/about"> Read More </div>
    </div>
</div>
<div class="bibliography_header">
    <span class="bibliography_header_text heading_font">Bibliography</span>
</div>
<app-searchbar (search)="search($event)"></app-searchbar>
<app-bibliography-list *ngIf="translations.length" [translations] = "translations"></app-bibliography-list>
<app-announcements></app-announcements>
<!-- <div class="bibliography_header">
    <span class="bibliography_header_text heading_font">Featured Collection</span>
</div> -->
<!-- <app-featured-collection></app-featured-collection> -->
<app-contact></app-contact>