.bibliography_parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(220, 224, 215);
    padding: 20px 0px;
}
.searchbar {
    background-color: white;
    width: 80vw;
    max-width: 800px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0px;
}

.searchinput {
    all: unset;
    font: 16px system-ui;
    color: rgb(108, 123, 87);
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}

::placeholder {
    color: rgb(203, 207, 199);
    opacity: 0.7;
}

.searchbutton {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
}