<div class="translation_header">
    <span class="translation_header_text">Translation</span>
</div>
<div class="translation_parent">
    <div class="translation_card">
        <div class="translation_card_row">
            <div class="content_column content_header">Translation Title: </div>
            <div class="content_column">{{t.titleTranslation}}</div>
        </div>
        <div class="translation_card_row">
            <div class="content_column content_header">Original Title: </div>
            <div class="content_column">{{t.titleOriginal}}</div>
        </div>
        <div class="translation_card_row">
            <div class="content_column content_header">Translators: </div>
            <div class="content_column">{{t.translators}}</div>  
        </div>
        <div class="translation_card_row">
            <div class="content_column content_header">Authors: </div>
            <div class="content_column">{{t.authors}}</div>
        </div>
        <div class="translation_card_row">
            <div class="content_column content_header">Translated Into: </div>
            <div class="content_column">{{t.translatedFrom}}</div>
        </div>
        <div class="translation_card_row">
            <div class="content_column content_header">Translated From: </div>
            <div class="content_column">{{t.translatedInto}}</div>
        </div>
        <div class="translation_card_row">
            <div class="content_column content_header">Editors: </div>
            <div class="content_column">{{t.editors}}</div>
        </div>
        <div class="translation_card_row">
            <div class="content_column content_header">Genre: </div>
            <div class="content_column">{{t.genre}}</div>
        </div>
        <div class="translation_card_row">
            <div class="content_column content_header">Type: </div>
            <div class="content_column">{{t.type}}</div>
        </div>
        <div class="translation_card_row">
            <div class="content_column content_header">Single/Anthology: </div>
            <div class="content_column">{{t.singleOrAnthology}}</div>
        </div>
        <div class="translation_card_row">
            <div class="content_column content_header">Plublisher for Original: </div>
            <div class="content_column">{{t.publisherOriginal}}</div>
        </div>
        <div class="translation_card_row">
            <div class="content_column content_header">Plublisher for Translation: </div>
            <div class="content_column">{{t.publisherTranslation}}</div>
        </div>
        <div class="translation_card_row">
            <div class="content_column content_header">Year of Publication for Original: </div>
            <div class="content_column">{{t.yearOfPublicationOriginal}}</div>
        </div>
        <div class="translation_card_row">
            <div class="content_column content_header">Year of Publication for Translation: </div>
            <div class="content_column">{{t.YearOfPublicationTranslation}}</div>
        </div>
        <div class="translation_card_row">
            <div class="content_column content_header">Ebook: </div>
            <div class="content_column">{{t.ebook}}</div>
        </div>
        <div class="translation_card_row">
            <div class="content_column content_header">ISBN: </div>
            <div class="content_column">{{t.isbn}}</div>
        </div>
    </div>
</div>