<div class="bibliography_parent">
    <div class="searchbar">
        <div title="Sort Options"><img class="searchIcon" src="//icons.veryicon.com/png/128/education-technology/educational-institution-icon/sort-13.png" srcset="//icons.veryicon.com/png/256/education-technology/educational-institution-icon/sort-13.png 2x" alt="sort Icon"></div>
        <div title="Advanced Search" style="margin-left:8px"><img class="searchIcon" src="//icons.veryicon.com/png/o/miscellaneous/conventional-use/advanced-search.png" alt="Advanced search Icon"></div>
    </div>
</div>