<div class="about_header">
    <span class="about_header_text">About Susham Bedi</span>
</div>
<div class="about_parent">
    <div class="about_card">
        <pre>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id mi et lorem lacinia pulvinar at a sapien.
        Quisque eget suscipit lorem, a pharetra lorem. Maecenas lacus massa, placerat a tempus fringilla, fringilla vel
        nunc. Ut eros orci, rhoncus et elit eu, ultricies posuere nulla. Vivamus id mauris pretium, fermentum magna
        vitae, auctor metus. Sed blandit egestas orci quis porttitor. Integer convallis et tellus at imperdiet. Ut sed
        odio porttitor, pulvinar orci at, consequat odio. Nam ultricies, purus sit amet porta condimentum, nisi arcu
        rutrum tortor, vitae maximus purus arcu quis neque.

        In varius luctus turpis non maximus. Aliquam erat volutpat. Nam congue ullamcorper elit, at suscipit ligula.
        Donec vitae metus ut erat euismod commodo. Suspendisse felis est, dignissim vel mauris nec, lobortis finibus
        lorem. Donec est leo, sagittis sed libero ac, faucibus varius massa. Proin vitae sodales magna.

        Suspendisse vitae ante vel augue aliquet lobortis. Nunc consequat lorem elementum augue porta, non efficitur
        massa eleifend. Aenean iaculis, purus sed rhoncus elementum, massa enim efficitur nisi, vitae mattis neque arcu
        nec turpis. Nullam aliquet vulputate elementum. Donec quis nibh nisi. Aenean leo quam, vulputate eget iaculis
        nec, aliquam eget tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean sit amet pulvinar
        metus. Curabitur nec enim quis lorem porta consequat vehicula sed ex. Maecenas lobortis lectus a nulla
        tristique, sed mattis libero dignissim. Proin eu diam et ex scelerisque gravida. Donec laoreet, leo nec ornare
        congue, lorem ipsum cursus ante, eget iaculis massa nulla non nibh.
        </pre>
    </div>
</div>