<div class="about_header">
    <span class="about_header_text">About</span>
</div>
<div class="about_parent">
    <div class="about_card">
        <span class="about_subheader_text">About ACT</span>
        <p>
            Through this project, we aim to document the compelling words of authors from as many languauges as
            possible; especially languages from India.
        </p>
    </div>
    <div class="about_card">
        <span class="about_subheader_text">About NIF</span>
        <p>
            Through this project, we aim to document the compelling words of authors from as many languauges as
            possible; especially languages from India.
        </p>
    </div>
</div>