@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Poppins&display=swap');

.parent {    
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: lightgrey;
    min-height: 100vh;
}

.body {    
    width: 100vw;
    max-width: 2000px;
    background: white;
    min-height: 100vh;
}

.base_font {
    font-family: 'Poppins', sans-serif;
}

.heading_font {
    font-family: 'EB Garamond', serif;
    font-weight: bolder;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) { }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) { }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) { }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) { }

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
 }